body {
  background-color: #EEEEEE;
}

.top-bar {
  background-color: #F9F9F9;
  margin-bottom: 1em;
}

.top-bar .name h1 a {
  color: black;
  font-size: 28px;
}

.list {
  background-color: #F9F9F9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 45em;
  overflow: auto;
}

.board {
  margin: auto
}

.mini {
  height: 22.5em;
}

.class0 {
  border-top: 5px solid red;
  // margin-left: 10px;
}

.class1 {
  border-top: 5px solid yellow;
}

.class2 {
  border-top: 5px solid green;
}

.class3 {
  border-top: 5px solid blue;
}

.class4 {
  border-top: 5px solid orange;
}

// .z {
//   color: red;
//   position: fixed;
// }

.profile-photo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.post-tile {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.posty {
  float: right;
}

.header {
  padding-left: 10px;
}

.less {
  width: 114px;
}

.post-text {
  overflow-wrap: break-word;
}

// i.fa.fa-times {
//   color: whitesmoke;
// }

.small-12.columns.post.panel:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small-12.columns.post.panel:hover i.fa.fa-times {
  color: darkgray;
  cursor: pointer; cursor: hand;
}
